caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
table {
    margin: 0 auto;
}
#tabuleiro td {
    width: 49px;
    height: 49px;
    border: 3px solid black;
    text-align: center;
}
#tabuleiro tr:nth-child(2n+1) td:nth-child(2n), #tabuleiro tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
}
#tabuleiro .selecionado {
    border: 3px solid blue;
    color: blue;
    font-weight: bold;
}
#message {
    width: 50%;
    text-align: center;
    margin: 1em auto;
}
#score td:nth-child(2) {
    text-align: center;
}
fieldset {
    width: 400px;    
    margin: 1em auto;
}
fieldset p {
    text-align: center;
}
fieldset input[type="number"] {
    width: 50px;
}