body {
    --td-border: 3px;
    --td-color-selected: blue;
}

caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

table {
    margin: 0 auto;
    border-collapse: separate;
}

.container-sm {
    max-width: 500px;
}

#board td {
    --cell-size: 8vmin;
    --min-size: 40px;
    --max-size: 60px;
    width: clamp(var(--min-size), var(--cell-size), var(--max-size));
    height: clamp(var(--min-size), var(--cell-size), var(--max-size));
}

#board td {
    border: var(--td-border) solid black;
    text-align: center;
}

#board tr:nth-child(2n+1) td:nth-child(2n),
#board tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
}

#board .selecionado {
    border: var(--td-border) solid var(--td-color-selected);
    color: var(--td-color-selected);
    font-weight: bold;
}

#message {
    width: 50%;
    text-align: center;
    margin: 1em auto;
}

#score td:nth-child(2) {
    text-align: center;
}

img {
    width: 90%;
}

#score {
    max-width: 200px;
}

#score caption {
    font-weight: bold;
    font-size: large;
}

#score td {
    text-align: center;
}